<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BadgeSettings</key>
	<dict>
		<key>FontSize</key>
		<integer>12</integer>
		<key>TextColor</key>
		<string>#FFFFFF</string>
		<key>TextXoffset</key>
		<real>0.000000</real>
		<key>TextYoffset</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
